@model IEnumerable<Definitivo.Models.Basedb.Persona>

@{
    ViewData["Title"] = "Personas";
}

<h2>PERSONAS</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPersonaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPersonaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
