@model IEnumerable<Definitivo.Models.Basedb.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h2>Productos</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoProductoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServicioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProductoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServicioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
