@model IEnumerable<Definitivo.Models.Basedb.TipoPago>

@{
    ViewData["Title"] = "Tipos de Pago";
}

<h2>Tipos de Pago</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTipoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTipoPago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoPagoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoPagoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoPagoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
