@model Proyecto.Models.Basedb.Alquiler

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alquiler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoPagoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoPagoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaEntrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalAlquiler)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAlquiler)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlquilerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
