@model IEnumerable<Proyecto.Models.Basedb.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPagoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAlquiler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPagoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAlquiler)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlquilerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlquilerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlquilerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
